{% comment %}
  Renders a product media modal. Also see 'product-media-gallery'

  Accepts:
  - product: {Object} Product liquid object
  - variant_images: {Array} Product images associated with a variant

  Usage:
  {% render 'product-media-modal' %}
{% endcomment %}

<product-modal id="ProductModal-{{ section.id }}" class="product-media-modal media-modal">
  <div
    class="product-media-modal__dialog color-{{ section.settings.color_scheme }} gradient"
    role="dialog"
    aria-label="{{ 'products.modal.label' | t }}"
    aria-modal="true"
    tabindex="-1"
  >
    <button
      id="ModalClose-{{ section.id }}"
      type="button"
      class="product-media-modal__toggle"
      aria-label="{{ 'accessibility.close' | t }}"
    >
      {{ 'icon-close.svg' | inline_asset_content }}
    </button>

    <div
      class="product-media-modal__content color-{{ section.settings.color_scheme }} gradient"
      role="document"
      aria-label="{{ 'products.modal.label' | t }}"
      tabindex="0"
    >
      {%- assign active_media_id = null -%}
      {%- if request and request.params and request.params.media_id -%}
        {%- assign active_media_id = request.params.media_id | plus: 0 -%}
      {%- endif -%}
      {%- if active_media_id == null and product.selected_or_first_available_variant and product.selected_or_first_available_variant.featured_media -%}
        {%- assign active_media_id = product.selected_or_first_available_variant.featured_media.id -%}
      {%- endif -%}
      {%- for media in product.media -%}
        {%- assign is_active = false -%}
        {%- if media.id == active_media_id -%}
          {%- assign is_active = true -%}
        {%- endif -%}
        <div class="modal-media-item{% if is_active %} active{% endif %}" data-media-id="{{ media.id }}">
          {% render 'product-media', media: media %}
        </div>
      {%- endfor -%}
    </div>
  </div>
</product-modal>
